@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-uni">Bem-Vindo ao Site de Mentoria</h1>
    <h2 class="display-uni">da UNI1500</h2>
    <img src="/img/home.jpg"/>
</div>
